.top {
  text-align: center;
  font-family: sans-serif;
}
ul{
  list-style:none;
}
li {
  padding-left: 1%;
  padding-top: 1%;
}
#container {
    height:40px;
    width: 600px;
    outline:1px solid block;
    position: relative;
}
#guy {
    position: absolute;
    height: 50px;
    width:50px;
    outline: 1px solid block;
    background-color:green;
}
